<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1><%= pageTitle %></h1>
  
  <!-- First Form -->
  <div>
    <h2>Buying Guide Input Form</h2>
    <form action="/buying-guide" method="post">
      <label for="input1"><%= input1Label %>:</label>
      <input type="text" id="input1" name="input1" required>
      <br>
      <button type="submit" id="gptSubmitBtn">Submit</button>
    </form>
  </div>

</body>
</html>
